In [1]:
#Import Required Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv("XAUUSD_Hourly.csv")

In [2]:
df.info

<bound method DataFrame.info of            Date      Time     Open     High      Low    Close  TickVolume  \
0    2025.05.01  01:00:00  3289.25  3290.21  3271.43  3274.02        5132
1    2025.05.01  02:00:00  3274.28  3285.10  3269.83  3272.69        4855
2    2025.05.01  03:00:00  3273.13  3276.33  3241.21  3246.51        8490
3    2025.05.01  04:00:00  3246.51  3251.34  3234.38  3238.92        6694
4    2025.05.01  05:00:00  3238.95  3251.74  3235.17  3241.58        5156
..          ...       ...      ...      ...      ...      ...         ...
293  2025.05.19  18:00:00  3233.95  3239.96  3229.58  3231.64        8142
294  2025.05.19  19:00:00  3231.72  3234.20  3228.17  3231.84        6386
295  2025.05.19  20:00:00  3231.79  3233.25  3225.58  3226.45        6294
296  2025.05.19  21:00:00  3226.42  3235.14  3225.38  3233.50        4942
297  2025.05.19  22:00:00  3233.50  3235.86  3231.65  3233.10        3462

     Volume  Spread             datetime  Target_Close
0         0       7  2025-05-01 01:00:00       3272.69
1         0       7  2025-05-01 02:00:00       3246.51
2         0       7  2025-05-01 03:00:00       3238.92
3         0       7  2025-05-01 04:00:00       3241.58
4         0       7  2025-05-01 05:00:00       3229.51
..      ...     ...                  ...           ...
293       0       5  2025-05-19 18:00:00       3231.84
294       0       7  2025-05-19 19:00:00       3226.45
295       0       7  2025-05-19 20:00:00       3233.50
296       0       7  2025-05-19 21:00:00       3233.10
297       0       7  2025-05-19 22:00:00       3230.12

[298 rows x 11 columns]>

In [3]:
df.info(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          298 non-null    object
 1   Time          298 non-null    object
 2   Open          298 non-null    float64
 3   High          298 non-null    float64
 4   Low           298 non-null    float64
 5   Close         298 non-null    float64
 6   TickVolume    298 non-null    int64
 7   Volume        298 non-null    int64
 8   Spread        298 non-null    int64
 9   datetime      298 non-null    object
 10  Target_Close  298 non-null    float64
dtypes: float64(5), int64(3), object(3)
memory usage: 25.7+ KB

In [4]:
df.head()

,Date,Time,Open,High,Low,Close,TickVolume,Volume,Spread,datetime,Target_Close
0,2025.05.01,01:00:00,3289.25,3290.21,3271.43,3274.02,5132,0,7,2025-05-01 01:00:00,3272.69
1,2025.05.01,02:00:00,3274.28,3285.10,3269.83,3272.69,4855,0,7,2025-05-01 02:00:00,3246.51
2,2025.05.01,03:00:00,3273.13,3276.33,3241.21,3246.51,8490,0,7,2025-05-01 03:00:00,3238.92
3,2025.05.01,04:00:00,3246.51,3251.34,3234.38,3238.92,6694,0,7,2025-05-01 04:00:00,3241.58
4,2025.05.01,05:00:00,3238.95,3251.74,3235.17,3241.58,5156,0,7,2025-05-01 05:00:00,3229.51

In [5]:
#Check for Missing Values
df.isnull().sum()

Date            0
Time            0
Open            0
High            0
Low             0
Close           0
TickVolume      0
Volume          0
Spread          0
datetime        0
Target_Close    0
dtype: int64

In [6]:
#Remove Duplicates
df = df.drop_duplicates()

In [7]:
#Initial inspection of the data
print("Initial Data Info:")
print(df.info())
print("\nMissing Values:")
print(df.isnull().sum())

Initial Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          298 non-null    object
 1   Time          298 non-null    object
 2   Open          298 non-null    float64
 3   High          298 non-null    float64
 4   Low           298 non-null    float64
 5   Close         298 non-null    float64
 6   TickVolume    298 non-null    int64
 7   Volume        298 non-null    int64
 8   Spread        298 non-null    int64
 9   datetime      298 non-null    object
 10  Target_Close  298 non-null    float64
dtypes: float64(5), int64(3), object(3)
memory usage: 25.7+ KB
None

Missing Values:
Date            0
Time            0
Open            0
High            0
Low             0
Close           0
TickVolume      0
Volume          0
Spread          0
datetime        0
Target_Close    0
dtype: int64

In [8]:
# Handling missing or invalid values
# Replacing any NaN values with appropriate strategies (e.g., forward fill for price columns)
price_columns = ['Open', 'High', 'Low', 'Close', 'Target_Close']
for col in price_columns:
    df[col] = df[col].fillna(method='ffill') 
df['TickVolume'] = df['TickVolume'].fillna(df['TickVolume'].median())  
df['Spread'] = df['Spread'].fillna(df['Spread'].mode()[0])

C:\Users\touhi\AppData\Local\Temp\ipykernel_40160\3774123445.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[col] = df[col].fillna(method='ffill')

In [9]:
#Converting datetime column to proper format
df['datetime'] = pd.to_datetime(df['datetime'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [11]:
# Verify datetime matches Date and Time columns
df['constructed_datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format='%Y.%m.%d %H:%M:%S', errors='coerce')
datetime_mismatch = (df['datetime'] != df['constructed_datetime']).sum()
print(f"\nNumber of datetime mismatches: {datetime_mismatch}")

Number of datetime mismatches: 0

In [12]:
# Drop Date, Time, and constructed_datetime as they are redundant
df = df.drop(['Date', 'Time', 'constructed_datetime'], axis=1)

In [13]:
#Dropping Volume column (all values are 0)
df = df.drop('Volume', axis=1)

In [14]:
#Checking for outliers using IQR method
def detect_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)][column]
    return len(outliers)

for col in price_columns:
    outlier_count = detect_outliers(df, col)
    print(f"Outliers in {col}: {outlier_count}")

Outliers in Open: 0
Outliers in High: 0
Outliers in Low: 0
Outliers in Close: 0
Outliers in Target_Close: 0

In [15]:
#Handling Spread inconsistencies (values are mostly 5 or 7, with rare 6 or 8)
# Replace rare values (6, 8) with the mode
spread_mode = df['Spread'].mode()[0]
df['Spread'] = df['Spread'].replace([6, 8], spread_mode)

In [16]:
#Checking for duplicates
duplicates = df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")
df = df.drop_duplicates()

Number of duplicate rows: 0

In [17]:
# Final inspection of cleaned data
print("\nCleaned Data Info:")
print(df.info())
print("\nFirst few rows of cleaned data:")
print(df.head())

Cleaned Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          298 non-null    float64
 1   High          298 non-null    float64
 2   Low           298 non-null    float64
 3   Close         298 non-null    float64
 4   TickVolume    298 non-null    int64
 5   Spread        298 non-null    int64
 6   datetime      298 non-null    datetime64[ns]
 7   Target_Close  298 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(2)
memory usage: 18.8 KB
None

First few rows of cleaned data:
      Open     High      Low    Close  TickVolume  Spread            datetime  \
0  3289.25  3290.21  3271.43  3274.02        5132       7 2025-05-01 01:00:00
1  3274.28  3285.10  3269.83  3272.69        4855       7 2025-05-01 02:00:00
2  3273.13  3276.33  3241.21  3246.51        8490       7 2025-05-01 03:00:00
3  3246.51  3251.34  3234.38  3238.92        6694       7 2025-05-01 04:00:00
4  3238.95  3251.74  3235.17  3241.58        5156       7 2025-05-01 05:00:00

   Target_Close
0       3272.69
1       3246.51
2       3238.92
3       3241.58
4       3229.51

In [18]:
#Saving the cleaned dataset
df.to_csv('XAUUSD_Hourly_Cleaned.csv', index=False)
print("\nCleaned data saved to 'XAUUSD_Hourly_Cleaned.csv'")

Cleaned data saved to 'XAUUSD_Hourly_Cleaned.csv'